# ─────────────────────────────────────────────────────────────────
# RTCube5 – Variables d'environnement
# ⚠️  Ne jamais commiter ce fichier en Git !
# ─────────────────────────────────────────────────────────────────

# Clé API CurseForge (obligatoire pour télécharger ATM10)
# → Récupère la tienne sur : https://console.curseforge.com/#/api-keys
CF_API_KEY=XXX

# Mot de passe RCON
RCON_PASSWORD=XXX